{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signalization</title>
    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="tracking-wider bg-color-primary text-color-white">
    <header>
        <nav class="container flex items-center justify-between">
            <div class="py-5 text-3xl font-bold text-color-secondary">
                <a href="#home">
                    <span class="text-color-white">Green</span>Env+
                </a>
            </div>
            <div>
                <ul class="items-center hidden space-x-6 lg:flex">
                    <li><a href="{% url 'signalization' %}" class="duration-200 ease-in hover:text-color-secondary">Depots</a></li>
                    <li><a href="{% url 'marketplace_accueil' %}" class="duration-200 ease-in hover:text-color-secondary">GreenMarket</a></li>
                    <li><a href="{% url 'annonces' %}" class="duration-200 ease-in hover:text-color-secondary">Annonces</a></li>
                    <li><a href="#Parametres" class="duration-200 ease-in hover:text-color-secondary">Parametres</a></li>
                    <li><button class="py-3 font-bold capitalize duration-200 ease-in rounded-lg bg-color-secondary px-9 hover:bg-opacity-80">Free trial</button></li>
                </ul>
            </div>
            <!--Mobile screen-->
            <div id="hamburger" class="z-50 cursor-pointer lg:hidden">
                <i class="fa-solid fa-bars"></i>
            </div>

            <div id="menu" class="bg-color-primary-dark h-[100vh] absolute inset-0 hidden">
                <ul class="grid h-full py-20 place-items-center">
                    <li><a id="hLink" href="{% url 'signalization' %}" class="duration-200 ease-in hover:text-color-secondary">Depots</a></li>
                    <li><a id="hLink" href="{% url 'marketplace_accueil' %}" class="duration-200 ease-in hover:text-color-secondary">GreenMarket</a></li>
                    <li><a id="hLink" href="{% url 'annonces' %}" class="duration-200 ease-in hover:text-color-secondary">Annonces</a></li>
                    <li><a id="hLink" href="#Parametres" class="duration-200 ease-in hover:text-color-secondary">Parametres</a></li>
                    <li><button class="py-3 font-bold capitalize duration-200 ease-in rounded-lg bg-color-secondary px-9 hover:bg-opacity-80">Free trial</button></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section id="options" class="bg-color-primary">
            <div class="container py-20">
                <div class="m-auto mb-10 text-center lg:w-1/2">
                    <h2 class="mb-4 font-bold text-color-primary-light">Bienvenue! Debutons cette aventure.</h2>
                </div>

                <div class="grid gap-12 px-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 sm:px-6 lg:px-8">
                    <!-- card no1-->
                    <div class="p-4 px-3 text-center duration-200 ease-in border-2 border-solid cursor-pointer py-7 border-color-gray rounded-2xl hover:bg-color-secondary-dark">
                        <div class="inline-block px-6 py-5 bg-color-secondary rounded-2xl">
                            <i class="text-2xl fa-solid fa-triangle-exclamation"></i>
                        </div>
                        <a href="{% url 'depot-signal' %}" class="py-4 text-xl font-bold">Signaler un depot</a>
                    </div>
                    <div class="p-4 px-3 text-center duration-200 ease-in border-2 border-solid cursor-pointer py-7 border-color-gray rounded-2xl hover:bg-color-secondary-dark">
                        <div class="inline-block px-6 py-5 bg-color-secondary rounded-2xl">
                            <i class="text-2xl fa-solid fa-trash"></i>
                        </div>
                        <a href="{% url 'collect' %}" class="py-4 text-xl font-bold">Collecter un depot</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-color-primary">
            <div class="container py-5">
                <div class="m-auto mb-10 text-center lg:w-1/2">
                    <h2 class="mb-4 text-4xl font-bold text-color-primary-light">Dernieres Alertes</h2>
                </div>
        
                <div class="grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
                    {% for depot in depots %}
                    <div class="card">
                        <img class="object-cover w-full h-64" src="{{ depot.photo.url }}" />
                        <div class="flex flex-col gap-3 p-5">
                            <div class="flex items-center gap-2">
                                <span class="badge">{{ depot.date_signalement }}</span>
                                <span class="badge">{{ depot.id_niveau_criticite.niveau }}</span>
                            </div>
                            <h2 class="product-title" title="{{ depot.localisation }}">{{ depot.localisation }}</h2>
                            <div class="flex items-center justify-between">
                                <span class="text-xl font-bold">
                                    {{ depot.localisation }}
                                </span>
                                <div class="ml-auto">
                                    <span class="discount-percent">
                                        {{ depot.id_type.type }}
                                    </span>
                                </div>
                            </div>
                            <p class="overflow-hidden overflow-ellipsis whitespace-nowrap">{{ depot.description }}</p>
                            <div class="flex gap-2 mt-5">
                                <button class="button-primary">
                                    Voir
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
                    <div class="grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">

                        <div class="card">
                            <img class="object-cover w-full h-64" src="{% static 'Images/john-cameron-0kpPu9WPVmU-unsplash.jpg' %}" />
                            <div class="flex flex-col gap-3 p-5">
                                <div class="flex items-center gap-2">
                                    <span class="badge">07-2024</span>
                                    <span class="badge">non collecté</span>
                                </div>
                                <h2 class="product-title" title="Id">Id</h2>
                                <div class="flex items-center justify-between">
                                    <span class="text-xl font-bold">
                                        Localisation
                                    </span>
                                    <div class="ml-auto">
                                        <span class="discount-percent">
                                            type-ordure
                                        </span>
                                    </div>
                                </div>
                                <p class="overflow-hidden overflow-ellipsis whitespace-nowrap">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, quis? Qui, voluptas quod ut, aperiam impedit deleniti, enim sunt animi debitis facere inventore quam recusandae? Error molestiae et sunt ipsa.</p>
                                <div class="flex gap-2 mt-5">
                                    <button class="button-primary">
                                        Voir
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <img class="object-cover w-full h-64" src="{% static 'Images/jon-moore-1PxGp8kkQyk-unsplash.jpg' %}" />
                            <div class="flex flex-col gap-3 p-5">
                                <div class="flex items-center gap-2">
                                    <span class="badge">07-2024</span>
                                    <span class="badge">non collecté</span>
                                </div>
                                <h2 class="product-title" title="Id">Id</h2>
                                <div class="flex items-center justify-between">
                                    <span class="text-xl font-bold">
                                        Localisation
                                    </span>
                                    <div class="ml-auto">
                                        <span class="discount-percent">
                                            type-ordure
                                        </span>
                                    </div>
                                </div>
                                <p class="overflow-hidden overflow-ellipsis whitespace-nowrap">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, quis? Qui, voluptas quod ut, aperiam impedit deleniti, enim sunt animi debitis facere inventore quam recusandae? Error molestiae et sunt ipsa.</p>
                                <div class="flex gap-2 mt-5">
                                    <button class="button-primary">
                                        Voir
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <img class="object-cover w-full h-64" src="{% static 'Images/kenny-eliason-8Yk4T-tDSYY-unsplash.jpg' %}" />
                            <div class="flex flex-col gap-3 p-5">
                                <div class="flex items-center gap-2">
                                    <span class="badge">07-2024</span>
                                    <span class="badge">non collecté</span>
                                </div>
                                <h2 class="product-title" title="Id">Id</h2>
                                <div class="flex items-center justify-between">
                                    <span class="text-xl font-bold">
                                        Localisation
                                    </span>
                                    <div class="ml-auto">
                                        <span class="discount-percent">
                                            type-ordure
                                        </span>
                                    </div>
                                </div>
                                <p class="overflow-hidden overflow-ellipsis whitespace-nowrap">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, quis? Qui, voluptas quod ut, aperiam impedit deleniti, enim sunt animi debitis facere inventore quam recusandae? Error molestiae et sunt ipsa.</p>
                                <div class="flex gap-2 mt-5">
                                    <button class="button-primary">
                                        Voir
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <img class="object-cover w-full h-64" src="{% static 'Images/aleksandr-kadykov-h8aQ4PUViCA-unsplash.jpg" />
                            <div class="flex flex-col gap-3 p-5">
                                <div class="flex items-center gap-2">
                                    <span class="badge">07-2024</span>
                                    <span class="badge">non collecté</span>
                                </div>
                                <h2 class="product-title" title="Id">Id</h2>
                                <div class="flex items-center justify-between">
                                    <span class="text-xl font-bold">
                                        Localisation
                                    </span>
                                    <div class="ml-auto">
                                        <span class="discount-percent">
                                            type-ordure
                                        </span>
                                    </div>
                                </div>
                                <p class="overflow-hidden overflow-ellipsis whitespace-nowrap">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, quis? Qui, voluptas quod ut, aperiam impedit deleniti, enim sunt animi debitis facere inventore quam recusandae? Error molestiae et sunt ipsa.</p>
                                <div class="flex gap-2 mt-5">
                                    <button class="button-primary">
                                        Voir
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <img class="object-cover w-full h-64" src="{% static 'Images/antoine-giret-7_TSzqJms4w-unsplash.jpg' %}" />
                            <div class="flex flex-col gap-3 p-5">
                                <div class="flex items-center gap-2">
                                    <span class="badge">07-2024</span>
                                    <span class="badge">non collecté</span>
                                </div>
                                <h2 class="product-title" title="Id">Id</h2>
                                <div class="flex items-center justify-between">
                                    <span class="text-xl font-bold">
                                        Localisation
                                    </span>
                                    <div class="ml-auto">
                                        <span class="discount-percent">
                                            type-ordure
                                        </span>
                                    </div>
                                </div>
                                <p class="overflow-hidden overflow-ellipsis whitespace-nowrap">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, quis? Qui, voluptas quod ut, aperiam impedit deleniti, enim sunt animi debitis facere inventore quam recusandae? Error molestiae et sunt ipsa.</p>
                                <div class="flex gap-2 mt-5">
                                    <button class="button-primary">
                                        Voir
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
        </section>
    </main>

    <script>
        const hamburger = document.querySelector('#hamburger');
        const menu = document.querySelector('#menu');
        const hLinks = document.querySelectorAll('#hLink');
        const faSolid = document.querySelector(".fa-solid");

        hamburger.addEventListener("click", () => {
            menu.classList.toggle('hidden');
            faSolid.classList.toggle('fa-xmark');
        });

        hLinks.forEach(link => {
            link.addEventListener('click', () => {
                menu.classList.toggle('hidden');
                faSolid.classList.toggle('fa-xmark');
            });
        });
    </script>
</body>
</html>