{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet" />
    <title>Register</title>
</head>
<body class="relative flex items-center justify-center w-screen h-screen bg-no-repeat bg-cover" style="background-image: url('{% static 'Images/lukasz-szmigiel-2ShvY8Lf6l0-unsplash.jpg' %}');">
    <div class="absolute top-0 left-0 w-screen h-screen bg-black opacity-60"></div>
    <div class="relative flex flex-col w-11/12 gap-2 px-4 py-4 mx-auto text-center text-white border-2 rounded-md shadow-xl sm:w-3/4 md:w-2/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 shadow-color-op">
        <h1 class="text-2xl font-semibold uppercase">Inscription</h1>
        <p class="mb-2 text-sm">Bienvenue! Suit nous dans cette aventure .</p>
        
        <form action="{% url 'register' %}" method="post">

            {% csrf_token %}
            {% include 'partials/_messages.html' %}
                    
        <div class="flex flex-col w-11/12 gap-1 mx-auto gap-2">
            <label for="nom" class="text-xl font-semibold text-left">Nom</label>
            <input 
                    name="name"
                    id="nom" 
                    type="text" 
                    placeholder="Entrez votre nom" 
                    class="px-3 py-1 text-white bg-transparent border-2 rounded-full outline-none" required>
        </div>
        <div class="flex flex-col w-11/12 gap-1 mx-auto gap-2">
            <label for="prenom" class="text-xl font-semibold text-left">Prenom</label>
            <input 
                    name="surname"
                    id="prenom" 
                    type="text" 
                    placeholder="Entrez votre prenom" 
                    class="px-3 py-1 text-white bg-transparent border-2 rounded-full outline-none" required>
        </div>
        <div class="flex flex-col w-11/12 gap-1 mx-auto gap-2">
            <label for="tel" class="text-xl font-semibold text-left">Telephone</label>
            <input 
                    name="phone"
                    id="tel" 
                    type="text" 
                    placeholder="Entrez votre numero de telephone" 
                    class="px-3 py-1 text-white bg-transparent border-2 rounded-full outline-none" required>
        </div>
        <div class="flex flex-col w-11/12 gap-1 mx-auto gap-2">
            <label for="email" class="text-xl font-semibold text-left">Email</label>
            <input 
                    name="email"
                    id="email" 
                    type="text" 
                    placeholder="Entrez votre adresse mail"
                    class="px-3 py-1 text-white bg-transparent border-2 rounded-full outline-none" required>
        </div>
        <div class="flex flex-col w-11/12 gap-1 mx-auto gap-2">
            <label for="password" class="text-xl font-semibold text-left">Mot de passe</label>
            <input 
                    name="password"
                    id="password" 
                    type="password" 
                    placeholder="Entrez votre mot de passe" 
                    class="px-3 py-1 text-white bg-transparent border-2 rounded-full outline-none" required>
            <small class="float-right py-3 showPasswordToggle">SHOW</small>
        </div>
        <div class="flex items-center gap-2 mx-auto text-md mb-10">
            <input 
                    type="checkbox" 
                    name="enterprise" 
                    id="enterprise" 
                    class="form-checkbox">
            <label for="enterprise">Etes vous une entreprise </label>
        </div>
                    <input 
                type="submit"
                value="Se connecter"
                class="bg-color-secondary px-4 py-2 rounded-md text-xl w-[200px] mx-auto hover:bg-transparent hover:border-color-secondary border-2 border-color-secondary gap-2"
                />
        </form>
        <p class="mt-2 text-center text-gray-100">
            vous avez deja un compte ? <a href="{% url 'login' %}" class="text-color-primary-dark">Connectez-vous</a>
        </p>
    </div>
<script src="{% static 'js/register.js' %}"></script>
</body>
</html>
